<!DOCTYPE html>
<html lang="{{ language.language }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}{{ language.title }}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/{{ bower.bootstrap }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/jumpotron-narrow.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
    {% block css %}{% endblock %}
</head>
<body>
<div class="container">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation"{% if active == '/' %} class="active"{% endif %}><a href="/">Startseite</a></li>
                <li role="presentation"{% if active == '/writeto' %} class="active"{% endif %}><a href="/writeto">Anschreiben</a></li>
                <li role="presentation"{% if active == '/cv' %} class="active"{% endif %}><a href="/cv">Lebenslauf</a></li>
                <li role="presentation"{% if active == '/attachements' %} class="active"{% endif %}><a href="/attachements">Anlagen</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">Bewerbung</h3>
    </div>
    {% block content %}{% endblock %}
    <footer class="footer">
        <p><a href="#" data-toggle="modal" data-target="#imprintModal">Impressum</a></p>
    </footer>
</div>
<div class="modal fade" id="imprintModal" tabindex="-1" role="dialog" aria-labelledby="imprintLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Schliessen"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="imprintLabel">Impressum</h4>
            </div>
            <div class="modal-body">
                <address>
                    Ulrike Kaiser<br>
                    <a href="mailto:application@sunnyuk.de">application@sunnyuk.de</a>
                </address>
            </div>
            <div class="modal-footer">
                &copy; <a href="http://sunnyuk.de" target="_blank">sunnyuk.de</a> 2015
            </div>
        </div>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/{{ bower.jquery }}/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/{{ bower.bootstrap }}/js/bootstrap.min.js"></script>
<script src="/js/app.js"></script>
{% block javascript %}{% endblock %}
</body>
</html>
